@import url('https://fonts.googleapis.com/css2?family=EB+Garamond&family=Montagu+Slab:wght@300&family=Source+Serif+Pro:ital,wght@1,300&display=swap');
:root {
    --primary-color:#1E40AF;
    --dark-green: #10B981;
    --off-white:#DBEAFE;

}

body {
    background-color: ghostwhite;
    font-family: 'Montserrat', sans-serif;
    margin-top: 0px ;
    margin-left: 50px;
    margin-right: 50px;
    width: 85%;
    max-width: 100%;

}

hr {
    margin: 3rem
}

.container {
    padding: 0.5rem 1rem;
}

.container-center {
    max-width: 570px;
    margin: auto;
}

.link {
    text-align: center;
    box-sizing: border-box;
    text-decoration: none;
    padding: 0.5rem 1rem;
}

.link-primary {
    max-width: 140px;
    padding: 0.6rem 1.2rem;
    background-color: var(--primary-color);
    color: #fff;
    margin: 1.5rem auto;
    border-radius: 1rem;


}

.link-secondary {
    max-width: 140px;
    padding: 0.6rem 1.2rem;
    background-color: var(--primary-color);
    color: #fff;
    margin:1.5rem auto;
    border-radius: 1rem;

}

.list-non-bulit {
    list-style: none;
}

.list-item-inline {
    display: inline;
    padding-right: 1rem 0.5rem;
}

.box {
    background-color: var(--off-white);
    padding: 2rem ;
    margin: 2rem auto;
    text-align: center;
    border-radius: 1rem;
}

.navigation {
    background-color: var(--primary-color);
    color: white;
    padding: 1rem;
    border-bottom-left-radius: 1rem;
}

.navigation .link {
    color: white;
    text-decoration: none;
    background:lightsteelblue;
    border-radius: 5px;
}

.navigation .nav-pills {
    text-align: right;
}

.navigation .nav-brand:hover {
    color: var(--dark-green);
    
}

.navigation .nav-brand {
    font-weight: bold;
    font-size: 20px;
    font-family: 'Montserrat', sans-serif;

}

.navigation .link-active:hover {
    color: var(--dark-green);
}

.navigation .link-active {
    font-weight: bold;

}

header {
    display: block;
    margin: auto;
}

p {
    margin-left: 3rem;
    margin-right: 3rem;
    text-align: center;
    
}

h2:hover {
    color: var(--primary-color);
}

h2 {
    margin-left: 2rem;
    margin-right: 2rem;
    text-align: center;
}

.hero {
    padding: 1rem;
    padding-top: 1rem;
}

.hero .hero-image {
    max-width: 550px;
    margin: auto;
    display: block;
}

.hero .hero-heading {
    text-align: center;
    padding: 1rem;
    color: var(--dark-green);
    font-size: 30px;
}

.hero .hero-heading .heading-invot {
    color: var(--primary-color);
    font-size: 30px;

}

.section {
    padding: 1rem;
}

h1:hover {
    color: var(--primary-color);
}

.section h1 {
    text-align: center;

}

.ow {
    margin-top: auto;
    background-color: var(--off-white);
    border-radius: 1rem;
}

.footer {
    background-color: var(--primary-color);
    padding: 0.5rem 0rem;
    text-align: center;
    color: white;
    border-top-right-radius: 1rem;

}
.footer .footer-header {
    font-weight: bold;
    margin-bottom: 2rem;
    font-size: 20px;
    padding-left: 1rem;

}
.footer .link {
    color:black;
    background: #DBEAFE;
    border-radius: 5px;

}